<div data-e2e="user-page" id="main-content-others_homepage"
    class="tiktok-10qtkim-DivShareLayoutBase-StyledShareLayoutV2 enm41490">
    <div class="tiktok-1hfe8ic-DivShareLayoutContentV2 enm41491">
        <div class="tiktok-1g04lal-DivShareLayoutHeader-StyledDivShareLayoutHeaderV2 enm41492"
            style="max-width: 624px; padding-right: 92px; padding-left: 0px; min-height: 140px; display: flex; flex-direction: column;">
            <div class="tiktok-1gk89rh-DivShareInfo ekmpd5l2">
                <div class="tiktok-uha12h-DivContainer e1vl87hj1" data-e2e="user-avatar"
                    style="width: 116px; height: 116px;"><span shape="circle" data-e2e=""
                        class="e1vl87hj2 tiktok-gcksof-SpanAvatarContainer-StyledAvatar e1e9er4e0"
                        style="width: 116px; height: 116px;"><img loading="lazy" alt=""
                            class="tiktok-1zpj2q-ImgAvatar e1e9er4e1"></span></div>
                <div class="tiktok-1nbnul7-DivShareTitleContainer ekmpd5l3">
                    <h1 data-e2e="user-title" class="tiktok-1xo9k5n-H1ShareTitle"></h1>
                    <h2 data-e2e="user-subtitle" class="tiktok-10pb43i-H2ShareSubTitle ekmpd5l7"></h2>
                    <div data-e2e="edit-profile-entrance" class="tiktok-g5dwjs-DivEditContainer e33dl3i0"><button
                            type="button" class="e33dl3i1 tiktok-16gecda-Button-StyledEditButton ehk74z00"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                class="tiktok-l7zpu2-StyledEditIcon e33dl3i3">
                                <use xlink:href="#edit-5f4d9ed9"></use>
                            </svg><span>Edit profile</span></button></div>
                </div>
            </div>
            <h3 class="tiktok-12ijsdd-H3CountInfos e1457k4r0">
                <div class="tiktok-mgke3u-DivNumber e1457k4r1"><strong title="Following"
                        data-e2e="following-count"></strong><span data-e2e="following"
                        class="tiktok-1ubs7lq-SpanUnit e1457k4r2">Following</span></div>
                <div class="tiktok-mgke3u-DivNumber e1457k4r1"><strong title="Followers"
                        data-e2e="followers-count"></strong><span data-e2e="followers"
                        class="tiktok-1ubs7lq-SpanUnit e1457k4r2">Followers</span></div>
                <div class="tiktok-ntsum2-DivNumber e1457k4r1"><strong title="Likes"
                        data-e2e="likes-count"></strong><span data-e2e="likes"
                        class="tiktok-1pchix1-SpanUnit e1457k4r2">Likes</span></div>
            </h3>
            <h2 data-e2e="user-bio" class="tiktok-4ac4gk-H2ShareDesc e1457k4r3">No bio yet.</h2>
            <div class="tiktok-12jrf1j-DivButtonsContainer">
                <div role="button" aria-label="Share" data-e2e="share-btn" tabindex="0"
                    class="tiktok-adnylo-DivShareActions ee7zj8d9"><svg class="tiktok-3anilq-StyledShareIcon ee7zj8d19"
                        width="24" data-e2e="" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12.5546 8.35111L13.3171 8.16468V7.37972V3.50006L21.4998 12.0001L13.3171 20.5001V16.3738V15.3664L12.3098 15.3738C8.838 15.3994 5.4275 17.0466 2.49983 19.5882C2.54612 19.2536 2.67769 18.641 2.94391 17.8329C3.3786 16.5132 4.01326 15.1988 4.88691 13.971C6.71045 11.4083 9.24414 9.16046 12.5546 8.35111Z"
                            stroke="#161823" stroke-width="2"></path>
                    </svg></div>
                <div role="button" aria-label="Actions" tabindex="0" data-e2e="user-more"
                    class="tiktok-usq6rj-DivMoreActions ee7zj8d10"></div>
            </div>
        </div>
        <div class="tiktok-833rgq-DivShareLayoutMain ee7zj8d4">
            <div class="tiktok-1vwnqbc-DivVideoFeedTab e1jjp0pq0">
                <p aria-selected="true" role="tab" data-e2e="videos-tab" tabindex="0"
                    class="tiktok-8i8qcr-PPost e1jjp0pq1">
                    <span>Videos</span>
                </p>
                <p aria-selected="false" role="tab" tabindex="0" class="tiktok-163yq8j-PFavorite e1jjp0pq2"
                    style="display: none;"><svg width="1em" data-e2e="" height="1em" viewBox="0 0 48 48"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="transform: translateY(2px);">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M24 3C17.9249 3 13 7.92487 13 14V21H8C6.89543 21 6 21.8954 6 23V41C6 42.1046 6.89543 43 8 43H40C41.1046 43 42 42.1046 42 41V23C42 21.8954 41.1046 21 40 21H35V14C35 7.92487 30.0751 3 24 3ZM31 21V14C31 10.134 27.866 7 24 7C20.134 7 17 10.134 17 14V21H31Z">
                        </path>
                    </svg><span class="tiktok-1w1pypo-SpanLiked e1jjp0pq4">Favorites</span></p>
                <p aria-selected="false" role="tab" data-e2e="liked-tab" tabindex="0"
                    class="tiktok-r7ao4-PLike e1jjp0pq3"><svg width="1em" data-e2e="" height="1em" viewBox="0 0 48 48"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="transform: translateY(2px);">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M24 3C17.9249 3 13 7.92487 13 14V21H8C6.89543 21 6 21.8954 6 23V41C6 42.1046 6.89543 43 8 43H40C41.1046 43 42 42.1046 42 41V23C42 21.8954 41.1046 21 40 21H35V14C35 7.92487 30.0751 3 24 3ZM31 21V14C31 10.134 27.866 7 24 7C20.134 7 17 10.134 17 14V21H31Z">
                        </path>
                    </svg><span class="tiktok-1w1pypo-SpanLiked e1jjp0pq4">Liked</span></p>
                <div class="tiktok-1f8gh88-DivBottomLine e1jjp0pq5" style="transform: translateX(0px); width: 122px;">
                </div>
            </div>
            <div class="tiktok-1qb12g8-DivThreeColumnContainer eegew6e2">
                <div data-e2e="user-post-item-list" mode="compact" class="tiktok-yvmafn-DivVideoFeedV2 ecyq5ls0">
                    <div class="tiktok-x6y88p-DivItemContainerV2">
                        <div data-e2e="user-post-item" class="tiktok-x6f6za-DivContainer-StyledDivContainerV2 eq741c50"
                            tabindex="0" role="button" aria-label="Watch in full screen">
                            <div style="padding-top: 132.653%;">
                                <div class=" tiktok-1as5cen-DivWrapper e1cg0wnj1"><a
                                        href="https://www.tiktok.com/@gilbertoinv/video/7289836896585272581"
                                        tabindex="-1"><canvas width="75.38461538461539" height="100"
                                            class="tiktok-1yvkaiq-CanvasPlaceholder e19c29qe2"></canvas>
                                        <div class="tiktok-1wa52dp-DivPlayerContainer e19c29qe5">
                                            <div mode="1" class="tiktok-1jxhpnd-DivContainer e1yey0rl0">
                                                <div class="tiktok-41hm0z"><span
                                                        style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;">
                                                        <picture>
                                                            <source type="image/avif"
                                                                srcset="https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068/82564c3bcf334b9bae05011e0c02aa61_1697297426~tplv-photomode-zoomcover:480:480.avif?x-expires=1697702400&amp;x-signature=jloBkl7QfgMKTvUvA4ZH6%2Fgykls%3D 1x, https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068/82564c3bcf334b9bae05011e0c02aa61_1697297426~tplv-photomode-zoomcover:480:480.avif?x-expires=1697702400&amp;x-signature=jloBkl7QfgMKTvUvA4ZH6%2Fgykls%3D 2x"
                                                                src="https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068/82564c3bcf334b9bae05011e0c02aa61_1697297426~tplv-photomode-zoomcover:480:480.avif?x-expires=1697702400&amp;x-signature=jloBkl7QfgMKTvUvA4ZH6%2Fgykls%3D">
                                                            <img loading="lazy"
                                                                alt="Respondendo a @𝖗𝖆𝖕  𝖙𝖚𝖓𝖎𝖘𝖎𝖊𝖓 🎶✔️  created by Gilberto Cotrim with Gilberto Cotrim's som original"
                                                                decoding="async"
                                                                src="https://p16-sign-va.tiktokcdn.com/obj/tos-maliva-p-0068/82564c3bcf334b9bae05011e0c02aa61_1697297426?x-expires=1697702400&amp;x-signature=kRElPa0Kc95YwhQMELw0%2Fr37bFY%3D"
                                                                imagex-type="react" imagex-version="0.3.7"
                                                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
                                                                srcset="https://p16-sign-va.tiktokcdn.com/obj/tos-maliva-p-0068/82564c3bcf334b9bae05011e0c02aa61_1697297426?x-expires=1697702400&amp;x-signature=kRElPa0Kc95YwhQMELw0%2Fr37bFY%3D 1x, https://p16-sign-va.tiktokcdn.com/obj/tos-maliva-p-0068/82564c3bcf334b9bae05011e0c02aa61_1697297426?x-expires=1697702400&amp;x-signature=kRElPa0Kc95YwhQMELw0%2Fr37bFY%3D 2x">
                                                        </picture>
                                                    </span></div>
                                            </div>
                                            <div class="tiktok-11u47i-DivCardFooter e148ts220"><svg
                                                    class="like-icon tiktok-h342g4-StyledPlay e148ts225" width="18"
                                                    data-e2e="" height="18" viewBox="0 0 48 48" fill="#fff"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M16 10.554V37.4459L38.1463 24L16 10.554ZM12 8.77702C12 6.43812 14.5577 4.99881 16.5569 6.21266L41.6301 21.4356C43.5542 22.6038 43.5542 25.3962 41.6301 26.5644L16.5569 41.7873C14.5577 43.0012 12 41.5619 12 39.223V8.77702Z">
                                                    </path>
                                                </svg><strong data-e2e="video-views"
                                                    class="video-count tiktok-dirst9-StrongVideoCount e148ts222">23.3M</strong>
                                            </div>
                                        </div>
                                    </a></div>
                            </div>
                        </div>
                        <div aria-label="Respondendo a @𝖗𝖆𝖕  𝖙𝖚𝖓𝖎𝖘𝖎𝖊𝖓 🎶✔️ " data-e2e="user-post-item-desc"
                            class="tiktok-16ou6xi-DivTagCardDesc eih2qak1" tabindex="0"><a
                                title="Respondendo a @𝖗𝖆𝖕  𝖙𝖚𝖓𝖎𝖘𝖎𝖊𝖓 🎶✔️ "
                                href="https://www.tiktok.com/@gilbertoinv/video/7289836896585272581"
                                class="tiktok-1wrhn5c-AMetaCaptionLine eih2qak0" tabindex="-1">
                                <div class="tiktok-kqbg74-DivContainer ejg0rhn0" tabindex="-1"><span
                                        class="tiktok-j2a19r-SpanText efbd9f0" tabindex="-1">Respondendo a </span><a
                                        data-e2e="search-common-link" target="_self" rel="opener"
                                        class="ejg0rhn6 tiktok-g8ml1x-StyledLink-StyledCommonLink er1vbsz0"
                                        aria-label="Watch more videos from user @𝖗𝖆𝖕  𝖙𝖚𝖓𝖎𝖘𝖎𝖊𝖓 🎶✔️"
                                        href="/@rap_tuni_sien" tabindex="-1"><strong color="rgba(43, 93, 185, 1)"
                                            class="tiktok-1p6dp51-StrongText ejg0rhn2" tabindex="-1">@𝖗𝖆𝖕
                                            𝖙𝖚𝖓𝖎𝖘𝖎𝖊𝖓 🎶✔️
                                        </strong></a><span class="tiktok-j2a19r-SpanText efbd9f0" tabindex="-1"> </span>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="Form">
    <div id="editProfileForm" class="tiktok-d84lpe-ModalContainer e1wuf0b30" style="display: none;">
        <div class="tiktok-ai36k9-ModalBackdrop e1wuf0b35"></div>
        <div tabindex="-1" class="tiktok-17s26nl-ModalContentContainer e1wuf0b31">
            <div class="tiktok-15neh3t-ModalContentVerticalPositionContainer e1wuf0b32">
                <div class="tiktok-ihckm8-ModalContentVerticalPositionPadding e1wuf0b33">
                    <section role="dialog" aria-modal="true" aria-labelledby="tux-1_header"
                        aria-describedby="tux-1_body" class="tiktok-19l8hzs-ModalContentSection e1wuf0b34">
                        <div aria-label="Edit profile" role="dialog" data-e2e="edit-profile-popup"
                            class="tiktok-o2w5fl-DivModalContainer e13yu7jj0">
                            <div data-e2e="edit-profile-header" class="tiktok-6y62q3-DivHeaderContainer e13yu7jj1">
                                <h1 class="tiktok-1twl9p4-H1Header e13yu7jj2">Edit profile</h1>
                                <div aria-label="Close_button" role="button" tabindex="0" data-e2e="edit-profile-close"
                                    class="tiktok-g4salc-DivCloseContainer e13yu7jj3"><svg width="24" data-e2e=""
                                        height="24" viewBox="0 0 48 48" fill="rgba(22, 24, 35, .75)"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M21.1718 23.9999L10.2931 13.1212C9.90261 12.7307 9.90261 12.0975 10.2931 11.707L11.7074 10.2928C12.0979 9.90228 12.731 9.90228 13.1216 10.2928L24.0002 21.1715L34.8789 10.2928C35.2694 9.90228 35.9026 9.90228 36.2931 10.2928L37.7073 11.707C38.0979 12.0975 38.0979 12.7307 37.7073 13.1212L26.8287 23.9999L37.7073 34.8786C38.0979 35.2691 38.0979 35.9023 37.7073 36.2928L36.2931 37.707C35.9026 38.0975 35.2694 38.0975 34.8789 37.707L24.0002 26.8283L13.1216 37.707C12.731 38.0975 12.0979 38.0975 11.7074 37.707L10.2931 36.2928C9.90261 35.9023 9.90261 35.2691 10.2931 34.8786L21.1718 23.9999Z">
                                        </path>
                                    </svg></div>
                            </div>
                            <div class="tiktok-gr0dyb-DivContentContainer">
                                <div class="tiktok-oldb3k-DivItemContainer-StyledItemContainerWithLine e13yu7jj10">
                                    <div data-e2e="edit-profile-photo" class="tiktok-1wo2vh7-DivLabel e13yu7jj11">
                                        Profile
                                        photo</div>
                                    <div data-e2e="edit-profile-avatar"
                                        class="tiktok-1vo5gtq-DivAvatarContent e13yu7jj12">
                                        <div class="e13yu7jj21 tiktok-1t7819m-DivContainer-StyledAvatar e1vl87hj1"
                                            style="width: 96px; height: 96px;">
                                            <span shape="circle" data-e2e=""
                                                class="e1vl87hj2 tiktok-gcksof-SpanAvatarContainer-StyledAvatar e1e9er4e0"
                                                style="width: 96px; height: 96px;"><img loading="lazy" alt="" src="<%=
                                            customer.logo %>" class="tiktok-1zpj2q-ImgAvatarUpdate"></span>
                                        </div>
                                        <div aria-label="Profile photo" role="button" tabindex="0"
                                            data-e2e="edit-profile-avatar-edit-icon"
                                            class="tiktok-14wt3ei-DivAvatarEditIcon e13yu7jj20"><svg width="16"
                                                data-e2e="" height="16" viewBox="0 0 48 48" fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M26.5858 5.08579C27.3479 4.32371 28.5767 4.30253 29.3646 5.03789L36.8646 12.0379C37.2612 12.408 37.4904 12.9232 37.4997 13.4655C37.5091 14.0078 37.2977 14.5307 36.9142 14.9142L16.9142 34.9142C16.5391 35.2893 16.0304 35.5 15.5 35.5H8.5C7.39543 35.5 6.5 34.6046 6.5 33.5V26C6.5 25.4696 6.71071 24.9609 7.08579 24.5858L26.5858 5.08579ZM28.0479 9.2805L10.5 26.8284V31.5H14.6716L32.622 13.5496L28.0479 9.2805Z">
                                                </path>
                                                <path
                                                    d="M7 41C7 40.4477 7.44772 40 8 40H41C41.5523 40 42 40.4477 42 41V43C42 43.5523 41.5523 44 41 44H8C7.44772 44 7 43.5523 7 43V41Z">
                                                </path>
                                            </svg> <input tabindex="-1" type="file"
                                                accept=".jpg, .jpeg, .png, .tiff, .heic, .webp"
                                                class="tiktok-4jv9vo-InputUpload e13yu7jj22">
                                        </div>
                                    </div>
                                </div>
                                <div class="tiktok-oldb3k-DivItemContainer-StyledItemContainerWithLine e13yu7jj10">
                                    <div data-e2e="edit-profile-username" class="tiktok-1wo2vh7-DivLabel e13yu7jj11">
                                        Username</div>
                                    <div data-e2e="edit-profile-username-input"
                                        class="tiktok-gzzkuf-DivEditAreaContainer e13yu7jj13"><input
                                            aria-invalid="false" aria-label="" placeholder="Username"
                                            id="profileUsernameInput" class="tiktok-18jpos7-InputText e13yu7jj14"
                                            value='<%= customer.username %>'>
                                        <p data-e2e="edit-profile-username-link"
                                            class="tiktok-488yjn-PProfileSite e13yu7jj17">
                                            <!-- Thêm một phần tử <div> để hiển thị thông báo lỗi -->
                                        <div id="usernameError" class="error-message"></div>

                                        </p>
                                        <p data-e2e="edit-profile-username-link"
                                            class="tiktok-488yjn-PProfileSite e13yu7jj17">www.tiktok.com/<%=
                                                customer.username %>
                                        </p>
                                        <p data-e2e="edit-profile-username-tip"
                                            class="tiktok-c23n31-PProfileSite-StyledTip e13yu7jj18">Usernames can only
                                            contain letters, numbers, underscores, and periods. Changing your username
                                            will
                                            also change your profile link.</p>
                                    </div>
                                </div>
                                <div class="tiktok-oldb3k-DivItemContainer-StyledItemContainerWithLine e13yu7jj10">
                                    <div data-e2e="edit-profile-name" class="tiktok-1wo2vh7-DivLabel
                                    e13yu7jj11">Name</div>
                                    <div data-e2e="edit-profile-name-input"
                                        class="tiktok-gzzkuf-DivEditAreaContainer e13yu7jj13"><input
                                            aria-invalid="false" aria-label="" placeholder="Name" id="profileNameInput"
                                            class="tiktok-18jpos7-InputText e13yu7jj14" value='<%= customer.name %>'>
                                        <p class="tiktok-c23n31-PProfileSite-StyledTip e13yu7jj18">Your nickname can
                                            only be
                                            changed once every 7 days.</p>
                                    </div>
                                </div>
                                <div class="tiktok-1557cp-DivItemContainer e13yu7jj7">
                                    <div data-e2e="edit-profile-bio" class="tiktok-1wo2vh7-DivLabel e13yu7jj11">Bio
                                    </div>
                                    <div class="tiktok-gzzkuf-DivEditAreaContainer e13yu7jj13"><textarea
                                            id="profileBioInput" data-e2e="edit-profile-bio-input" placeholder="Bio"
                                            class="tiktok-1um014y-InputText-StyledInputTextArea e13yu7jj16"><%= customer.bio %></textarea>
                                        <div id="charCount" class="tiktok-p96n95-DivTextCount e13yu7jj19">
                                            <span>0/</span>80
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tiktok-dwj06y-DivFooterContainer e13yu7jj4"><button type="button"
                                    data-e2e="edit-profile-cancel"
                                    class="e13yu7jj5 tiktok-1khwp92-Button-StyledBtn ehk74z00">Cancel</button><button
                                    type="submit" type="button" data-e2e="edit-profile-save" disabled="" id="saveButton"
                                    type="submit"
                                    class="e13yu7jj5 tiktok-95m0zs-Button-StyledBtn ehk74z00">Save</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    const logo = document.querySelector('.tiktok-1zpj2q-ImgAvatar')
    const userName = document.querySelector('.tiktok-1xo9k5n-H1ShareTitle');
    const userSubtitle = document.querySelector('.tiktok-10pb43i-H2ShareSubTitle');
    const followersCount = document.querySelector('[data-e2e="followers-count"]');
    const followingCount = document.querySelector('[data-e2e="following-count"]');
    const likesCount = document.querySelector('[data-e2e="likes-count"]');
    const userBio = document.querySelector('.tiktok-4ac4gk-H2ShareDesc');
    const editProfileButton = document.querySelector('.tiktok-16gecda-Button-StyledEditButton');
    const editProfileForm = document.getElementById('editProfileForm');
    const closeButton = document.querySelector('[data-e2e="edit-profile-close"]');
    const cancelButton = document.querySelector('[data-e2e="edit-profile-cancel"]');
    const profileBioInput = document.getElementById('profileBioInput');
    const charCountElement = document.getElementById('charCount');
    const saveButton = document.getElementById('saveButton');
    var usernameInput = document.getElementById("profileUsernameInput");
    var errorElement = document.getElementById("usernameError");
    var videoString = '<%- JSON.stringify(customer.videos) %>';
    if (videoString) { displayVideos(JSON.parse(videoString)) }


    // Thêm sự kiện 'input' để kiểm tra ngay khi người dùng nhập
    usernameInput.addEventListener("input", function () {
        // Lấy giá trị từ ô tên người dùng
        var username = usernameInput.value;
        // Kiểm tra xem tên người dùng hợp lệ không
        var isValid = /^[a-zA-Z0-9_]+$/.test(username);
        if (!isValid) {
            errorElement.textContent = "Tên người dùng chỉ được chứa chữ cái, số, dấu gạch dưới và dấu chấm.";
            document.getElementById("saveButton").disabled = true;
        } else {
            errorElement.textContent = ""; // Xóa thông báo lỗi nếu tên người dùng hợp lệ
            document.getElementById("saveButton").disabled = false;
        }
    });

    saveButton.disabled = false;
    // Lấy phần tử chỉnh sửa hình đại diện
    const editAvatarIcon = document.querySelector('[data-e2e="edit-profile-avatar-edit-icon"]');

    // Lấy input file để chọn hình đại diện
    const avatarInput = document.querySelector('.tiktok-4jv9vo-InputUpload.e13yu7jj22');

    // Thêm sự kiện click vào biểu tượng chỉnh sửa
    editAvatarIcon.addEventListener('click', function () {
        // Khi biểu tượng chỉnh sửa được nhấp, kích hoạt sự kiện click trên input file
        avatarInput.click();
    });

    // Thêm sự kiện change vào input file để xử lý việc chọn hình đại diện mới
    avatarInput.addEventListener('change', function (event) {
        const selectedFile = event.target.files[0];
        if (selectedFile) {
            // Xử lý file được chọn ở đây, ví dụ: hiển thị trước hình ảnh đã chọn
            const reader = new FileReader();
            reader.onload = function (e) {
                const avatarPreview = document.querySelector('.tiktok-1zpj2q-ImgAvatarUpdate');
                avatarPreview.src = e.target.result;
            };
            reader.readAsDataURL(selectedFile);
        }
    });

    profileBioInput.addEventListener('input', function () {
        const charCount = profileBioInput.value.length;
        charCountElement.textContent = charCount;

        // Kiểm tra số ký tự và tắt hoặc bật nút lưu dựa trên giới hạn ký tự (80 trong trường hợp này)
        const saveButton = document.getElementById('saveButton'); // Đặt ID của nút lưu ở đây
        if (charCount > 80) {
            // Vượt quá giới hạn, tắt nút lưu
            saveButton.disabled = true;
        }
    });

    editProfileButton.addEventListener('click', function () {
        // Hiển thị biểu mẫu chỉnh sửa thông tin người dùng khi nút "Edit profile" được nhấp
        editProfileForm.style.display = 'block';
        navMenu.style.display = 'none'


        document.body.classList.add('modal-open');
    });
    // Ẩn biểu mẫu chỉnh sửa khi nút "Cancel" hoặc nút "X" được nhấp
    function hideEditProfileForm() {
        editProfileForm.style.display = 'none';
        navMenu.style.display = 'flex'
        document.body.classList.remove('modal-open');
    }

    closeButton.addEventListener('click', hideEditProfileForm);
    cancelButton.addEventListener('click', hideEditProfileForm);
    // Cập nhật thông tin người dùng
    logo.src = '<%= customer.logo %>';
    userName.textContent = '<%= customer.username %>';
    userSubtitle.textContent = '<%= customer.name %>';
    followersCount.textContent = '<%= customer.followers %>';
    followingCount.textContent = '<%= customer.following %>';
    likesCount.textContent = '<%= customer.likes %>';
    userBio.textContent = '<%= customer.bio %>';
    const Form = document.getElementById('Form');
    // Sử dụng sự kiện click cho nút Save
    Form.addEventListener('submit', function (event) {
        event.preventDefault();
        // Lấy dữ liệu từ các trường trong biểu mẫu
        const avatar = document.querySelector('.tiktok-4jv9vo-InputUpload.e13yu7jj22').files[0];
        const username = document.getElementById('profileUsernameInput').value;
        const name = document.getElementById('profileNameInput').value;
        const bio = document.getElementById('profileBioInput').value;

        // Tạo đối tượng FormData và thêm dữ liệu vào đó
        const formData = new FormData();
        formData.append('avatar', avatar);
        formData.append('username', username);
        formData.append('name', name);
        formData.append('bio', bio);

        // Gửi yêu cầu API sử dụng Fetch API
        fetch('/customer/profile/update', {
            method: 'POST',
            body: formData
        })
            .then((data) => {
                console.log("data:", data)
                window.location.href = '/customer/profile'
            })
            .catch(error => {
                // Xử lý lỗi nếu có
                console.error('Error:', error);
            });
    });
    function displayVideos(videos) {
        // Lặp qua danh sách video và tạo các phần tử HTML động
        const videoContainer = document.querySelector('[data-e2e="user-post-item-list"]');
        videos.forEach(video => {
            const videoElement = document.createElement('div');
            videoElement.className = 'tiktok-x6y88p-DivItemContainerV2';

            // Tạo phần tử video động với dữ liệu từ máy chủ
            videoElement.innerHTML = `
    <div data-e2e="user-post-item" class="tiktok-x6f6za-DivContainer-StyledDivContainerV2" tabindex="0" role="button" aria-label="Watch in full screen">
      <div style="padding-top: 132.653%;">
        <div class="tiktok-1as5cen-DivWrapper e1cg0wnj1">
          <a href="${video.video}" tabindex="-1">
            <canvas width="75.38461538461539" height="100" class="tiktok-1yvkaiq-CanvasPlaceholder e19c29qe2"></canvas>
            <div class="tiktok-1wa52dp-DivPlayerContainer e19c29qe5">
              <div mode="1" class="tiktok-1jxhpnd-DivContainer e1yey0rl0">
                <div class="tiktok-41hm0z">
                  <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;">
                    <picture>
                      <source type="image/avif" srcset="${video.thumbnailAvif}">
                      <img loading="lazy" alt="${video.description}" decoding="async" src="${video.thumbnail}" imagex-type="react" imagex-version="0.3.7" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                    </picture>
                  </span>
                </div>
              </div>
              <div class="tiktok-11u47i-DivCardFooter e148ts220">
                <svg class="like-icon tiktok-h342g4-StyledPlay e148ts225" width="18" data-e2e="" height="18" viewBox="0 0 48 48" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M16 10.554V37.4459L38.1463 24L16 10.554ZM12 8.77702C12 6.43812 14.5577 4.99881 16.5569 6.21266L41.6301 21.4356C43.5542 22.6038 43.5542 25.3962 41.6301 26.5644L16.5569 41.7873C14.5577 43.0012 12 41.5619 12 39.223V8.77702Z"></path>
                </svg>
                <strong data-e2e="video-views" class="video-count tiktok-dirst9-StrongVideoCount e148ts222">${video.likes}</strong>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div aria-label="${video.description}" data-e2e="user-post-item-desc" class="tiktok-16ou6xi-DivTagCardDesc eih2qak1" tabindex="0">
      <a title="${video.description}" href="${video.video}" class="tiktok-1wrhn5c-AMetaCaptionLine eih2qak0" tabindex="-1">
        <div class="tiktok-kqbg74-DivContainer ejg0rhn0" tabindex="-1">
          <span class="tiktok-j2a19r-SpanText efbd9f0" tabindex="-1">${video.description}</span>
        </div>
      </a>
    </div>
  `;
            // Thêm video vào danh sách video
            videoContainer.appendChild(videoElement);
        });
    }

    function createVideoElement(video) {
        const videoElement = document.createElement('div');
        videoElement.classList.add('video-item');

        const pictureElement = document.createElement('picture');

        const sourceElement = document.createElement('source');
        sourceElement.type = 'image/avif';
        sourceElement.srcset = `${video.video}?x-expires=1697702400&x-signature=jloBkl7QfgMKTvUvA4ZH6%2Fgykls%3D 1x, ${video.video}?x-expires=1697702400&x-signature=jloBkl7QfgMKTvUvA4ZH6%2Fgykls%3D 2x`;
        sourceElement.src = `${video.video}?x-expires=1697702400&x-signature=jloBkl7QfgMKTvUvA4ZH6%2Fgykls%3D`
        const imgElement = document.createElement('img');
        imgElement.loading = 'lazy';
        imgElement.alt = video.title;
        imgElement.decoding = 'async';
        imgElement.src = video.video;
        imgElement.srcset = video.video;
        imgElement.style.cssText = 'position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;';

        pictureElement.appendChild(sourceElement);
        pictureElement.appendChild(imgElement);
        videoElement.appendChild(pictureElement);

        const videoTitle = document.createElement('h2');
        videoTitle.textContent = video.title;
        videoElement.appendChild(videoTitle);

        const videoDescription = document.createElement('p');
        videoDescription.textContent = video.description;
        videoElement.appendChild(videoDescription);

        const videoLikes = document.createElement('p');
        videoLikes.textContent = `Likes: ${video.likes}`;
        videoElement.appendChild(videoLikes);

        const videoCommentsCount = document.createElement('p');
        videoCommentsCount.textContent = `Comments: ${video.commentsCount}`;
        videoElement.appendChild(videoCommentsCount);

        // Thêm các phần tử khác như nút chia sẻ, nút xem thêm, v.v.
        // ...

        return videoElement;
    }




</script>