<%- include("../common/head.ejs") %>
    <div id="customAlert" class="css-14feuhu" style="display: none;"><span>
            <div class="css-14feuhu-notice" style="right: 50%;">
                <div class="css-14feuhu-notice-content">
                    <div role="alert" class="css-9aj0a0-DivMessageContainer e1wz89c90"
                        style="display: flex; justify-content: center; align-items: center;"><img
                            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3Ljg0MDQgNi44NTk4NkMxOC4wMzc3IDYuNjYyMDcgMTguMzU4NyA2LjY2NDI1IDE4LjU1MzMgNi44NjQ3MUwxOS40NTc0IDcuNzk2MjlDMTkuNjQ3NSA3Ljk5MjE3IDE5LjY0NTQgOC4zMDQzMiAxOS40NTI2IDguNDk3NTlMMTAuNTU4MiAxNy40MTYzQzEwLjEwNSAxNy44NzA3IDkuMzczMzMgMTcuODU5NiA4LjkzMzY2IDE3LjM5MTZMNC44MzY4MSAxMy4wMzA2QzQuNjQ5OTEgMTIuODMxNyA0LjY1NzExIDEyLjUxOTYgNC44NTI5OSAxMi4zMjk1TDUuNzgzNzQgMTEuNDI2MUM1Ljk4NDE4IDExLjIzMTUgNi4zMDUxNCAxMS4yMzg5IDYuNDk2MzkgMTEuNDQyNUw5Ljc4MjE0IDE0Ljk0MDFMMTcuODQwNCA2Ljg1OTg2WiIgZmlsbD0iIzBCRTA5QiIvPgo8L3N2Zz4K"
                            aria-hidden="true" style="width: 24px; height: 24px; margin-right: 8px;"><span
                            id="alertMessage">RUN OUT OF VIDEOs</span></div>
                </div>
            </div>
        </span></div>
    <div id="bigDiv" style="min-height: 100vh;display: flex;flex-direction: column;justify-content: flex-start;">
        <%- include("../common/nav-menu.ejs",customer) %>
            <%- include("../common/message.ejs") %>
                <div class="tiktok-14dcx2q-DivBodyContainer">
                    <%- include("../common/nav-menu-middle.ejs",cursor) %>
                        <%- include('./customer-body/customer-profile.ejs') %>
                </div>
    </div>
    <div class="loader">
        <li class="ball"></li>
        <li class="ball"></li>
        <li class="ball"></li>
    </div>