<%- include("../common/head.ejs", {content: "VANI" , keyword: "Laugh" , title: "Better" }) %>
    <div style="min-height: 100vh;display: flex;flex-direction: column;justify-content: flex-start;">
        <%- include("../common/nav-menu.ejs",customer) %>
            <%- include("../common/message.ejs") %>
                <div class="css-14dcx2q-DivBodyContainer e1irlpdw0">
                    <%- include("../common/nav-menu-middle.ejs") %>
                        <%- include('./video-body/video-body.ejs',videos) %>
                </div>
    </div>