<%- include("../common/head.ejs") %>
    <%- include('../common/nav-menu.ejs',customer) %>
        <%- include("../common/message.ejs") %>
            <div class="css-14dcx2q-DivBodyContainer e1irlpdw0">
                <%- include("../common/nav-menu-middle.ejs") %>
                    <%- include('./video-body/video-upload.ejs',customer) %>
            </div>